*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all ease-in-out 0.3s;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header{
    height: 100vh;
}

body{
    background-color: #FFFFFC;
}
.logo{
    width: 120px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 720px;
}

.logo h1{
    padding-top: 120px ;
    text-align: center;
    font-size: 64px;
    color: whitesmoke;
    background-color: #003a7d;
}
header img{
    float: left;
    padding-left: 200px;
    padding-top: 40px;

}


header nav{
    float: right;
    padding-right: 580px;
    padding-top: 60px;

    /* display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0; */

}

header nav ul li{
    display: inline-block;
}

header nav ul li a{
    color: #003a7d;
    font-size: 19px;
    padding: 20px;
    text-transform: capitalize;
    text-decoration: none;
    text-align: center;
    transition: all ease-out 0.2s;
}

header nav ul li a:hover{
   letter-spacing: 1px;
   color: #003a7d;
   transition: all ease-out 0.2s;
}


/* about me section */

header .about{
    position: absolute;
    /* background-color: #011638; */
    top: 60%;
    left: 50%;
    width: 1200px;
    height: 500px;
    outline: 10px solid #003a7d;
    transform: translate(-50%,-60%);
}

header .about h1{
    top: 40%;
    left: 50%;
    transform: translate(-50%,-40%);
    position: absolute;
    letter-spacing: 2px;
    font-size: 3.8rem;
    text-align: center;
    color: #003a7d;
    transition: all ease-in-out 0.4s;
}


header .about h2{
    top: 55%;
    left: 50%;
    transform: translate(-50%,-55%);
    position: absolute;
    letter-spacing: 2px;
    color: #003a7d;
    text-decoration: underline;
    text-align: center;
    color: rgb(252, 84, 84);

    transition: all ease 0.4s;
}

header .about h2:hover{
    letter-spacing: 3px;
    transition: all ease 0.4s;
}

header .about .btn{
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%,-70%);
    background: #00171F;
    color: rgb(255, 242, 242);
    font-weight: 600;
    padding: 15px;
    font-size: 19px;
    text-decoration: none;
    text-transform: capitalize;
    letter-spacing: 1px;
    margin-top: 20px;
    text-align: center;
    transition: all ease-in-out 0.2s;
}

header .about .btn:hover{
    letter-spacing: 2.5px;
    background: #00171F;
    color: rgb(255, 242, 242);
    border-radius: 100px;
}
/* ======================main secton========================= */

main .about-me{
    padding-bottom: 80px;
}
.about-me h1{
    color: rgb(252, 84, 84);
    font-size: 36px;
    letter-spacing: 3px;
    text-transform: uppercase;
    text-align: center;
    /* outline: 5px solid #00263C; */
    width: 500px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 550px;
    transition: all ease-in-out 0.3s;
    border-radius: 200px;
    background-color: #00263C;
}


.about-me p{
    padding-top: 60px;
    font-size: 20px;
    width: 1400px;
    padding-left: 550px;
    line-height: 40px;
    text-align: justify;
    font-size: 18px;

}

.about-me img{
    height: 400px;
    width: 400px;
    border-radius: 500px;
    float: left;
    margin-top: 40px;
    margin-left: 100px;
    
}


main .skills h1{
    color: #00263C;
    font-size: 36px;
    letter-spacing: 3px;
    text-transform: uppercase;
    text-align: center;
    /* outline: 5px solid #00263C; */
    width: 400px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 600px;
    transition: all ease-in-out 0.3s;
    border-radius: 200px;
    background-color: #00263C;
    background-color: rgb(252, 84, 84);
}

main .skills h1:hover{
    letter-spacing: 3px;
    transition: all ease-in-out 0.3s;
}



main .skills .skill-list{
    padding: 50px 0;
    float: right;
    padding-right: 400px;
    color: #00171F;
}

.skill-list ul li{
    padding: 10px 0;
    font-size: 20px;
    list-style-type: disc;
    transition: all ease-in-out 0.3s;
}

.skills .skill-icon{
    float: left;
    padding-top: 110px;
    width: 400px;
    height: 400px;
}
.skill-icon i{
    color: rgb(252, 84, 84);
    font-size: 9rem;
    padding-left:400px;


}

/* language section================================== */

/* ======================main secton========================= */

main .languages h1{
    margin-top: 400px;
    color: #00263C;
    font-size: 36px;
    letter-spacing: 3px;
    text-transform: uppercase;
    text-align: center;
    /* outline: 5px solid #00263C; */
    width: 400px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 600px;
    border-radius: 100px;
    transition: all ease-in-out 0.3s;
    background-color: rgb(252, 84, 84);;
}

main .languages h1:hover{
    letter-spacing: 3px;
    transition: all ease-in-out 0.3s;
}

main .languages .language-list{
    padding: 60px 0;
    float: right;
    padding-right: 560px;
    color: #00263C;
}

.language-list ul li{
    padding: 12px 0;
    font-size: 20px;
    list-style-type: disc;
    transition: all ease-in-out 0.3s;
}

.languages .language-icon{
    float: left;
    padding-top: 65px;
    width: 400px;
    height: 400px;
}
.language-icon i{
    color: rgb(252, 84, 84);;
    font-size: 9rem;
    padding-left:400px;


}

/* schools============================= */

/* ======================main secton========================= */

.schools h1{
    margin-top: 300px;
    color: #00263C;
    font-size: 36px;
    letter-spacing: 3px;
    text-transform: uppercase;
    text-align: center;
    /* outline: 5px solid #00263C; */
    width: 400px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 600px;
    border-radius: 100px;
    transition: all ease-in-out 0.3s;
    background-color: rgb(252, 84, 84);}

main .schools h1:hover{
    letter-spacing: 3px;
    transition: all ease-in-out 0.3s;
}

main .schools .school-list{
    padding: 60px 0;
    float: right;
    padding-right:250px;
    color: #00263C;
}

.school-list ul li{
    padding: 12px 0;
    font-size: 20px;
    list-style-type: disc;
    transition: all ease-in-out 0.3s;
}

.schools .school-icon{
    float: left;
    padding-top: 100px;
    width: 400px;
    height: 400px;
}
.school-icon i{
    color: rgb(252, 84, 84);
    font-size: 9rem;
    padding-left:400px;

}

.schools span{
    text-decoration: dashed;
    color: #015a77da;
    transition: all ease 0.2s;
    line-height: 40px;
}

.schools span:hover{
    transition: all ease 0.2s;
}

.schools .heading{
    list-style-type: armenian;
}

.experience{
    margin-top: 400px;
}

.experience h1{
    margin-top: 300px;
    color: #00263C;
    font-size: 36px;
    letter-spacing: 3px;
    text-transform: uppercase;
    text-align: center;
    /* outline: 5px solid #00263C; */
    width: 400px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 600px;
    border-radius: 100px;
    transition: all ease-in-out 0.3s;
    background-color: rgb(252, 84, 84);
}

.experience-text{
    width: 1400px;
    padding-left: 200px;
    padding-top: 60px;
}

.experience-text p{
    line-height: 40px;
    font-size: 20px;
}




/* footer */
footer{
    margin-top: 500px;
    background-color: #00263C;
    padding: 100px;
}

footer p{
    color: rgb(255, 242, 242);
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 1px;
    font-size: 16px;
}